html,
body,
head {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main__post-block {
  text-decoration: none;
}

.main__post-item {
  list-style-type: none;
  text-align: left;
  text-decoration: none;
  color: inherit;
  margin-bottom: 5px;
  text-decoration: none;
}

.main__post-item-link,
.main__post-item-link:visited {
  color: #bb2e1f;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 2px;
}

.main__post-item--description {
  display: inline;
  text-decoration: none;
}

.main__post-item-description--link-item {
  color: black;
}

.navigation {
  margin-top: 40px;
  text-align: left;
  list-style-type: none;
  display: flex;
}

.navigation-link,
.navigation:visited {
  font-size: 20px;
  margin-right: 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navigation__active-link {
  color: #bb2e1f;
}

.background__dark {
  background-color: #1c2022;
}

.space-between {
  justify-content: space-between;
}

.background__light {
  background-color: white;
}

.btn-clear {
  border: none;
  background: transparent;
}
.dark--text {
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
}
